@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@theme {
  --color-primary: #ff4b7d;
  --color-dark-card: #1E1F23;
  --color-dark-input: #2A2B2F;
}

* {
  scroll-behavior: smooth;
}

body {
  @apply bg-white dark:bg-black text-black dark:text-white;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #ff4b7d, #a855f7);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #ff6b9d, #c084fc);
}

/* Selection */
::selection {
  background-color: #ff4b7d;
  color: white;
}

/* 
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */