@import "tailwindcss";

@theme {
  
  /* custom color */
  --color-spark-pink: #ff2daa;
  --color-spark-purple: #6b21a8;
  --color-spark-dark: #020617;
 
  --animate-spin-slow: spin-slow 4s linear infinite;
  --animate-fade-in-up: fade-in-up 1s ease-out forwards;
  --animate-float-delayed: float-delayed 8s ease-in-out infinite;
  --animate-gradient: gradient 8s ease infinite;
  --animate-gradient-shift: gradient-shift 6s ease infinite;
  --animate-pulse-slow: pulse-slow 2s ease-in-out infinite;

}

/* --- KEYFRAMES  */

@keyframes spin-slow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* Fade in up animation for the main heading of hero  */
@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Float animation for decorative circles */
@keyframes float-delayed {

  0%,
  100% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(-30px) rotate(-3deg);
  }
}

/* Gradient animation for background / text */
@keyframes gradient {

  0%,
  100% {
    background-size: 200% 200%;
    background-position: left center;
  }

  50% {
    background-size: 200% 200%;
    background-position: right center;
  }
}

/* Gradient shift animation for background / text */
@keyframes gradient-shift {

  0%,
  100% {
    background-size: 300% 300%;
    background-position: left center;
  }

  50% {
    background-size: 300% 300%;
    background-position: right center;
  }
}

/* Pulse animation for decorative circles / text  */
@keyframes pulse-slow {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.8;
  }
}


/* Footer animate  */

@keyframes smokeDrift {
  0% {
    transform: translateX(-10%) translateY(0) scale(1);
  }
  50% {
    transform: translateX(10%) translateY(-6%) scale(1.08);
  }
  100% {
    transform: translateX(-10%) translateY(0) scale(1);
  }
}

/* --- UTILITY CLASSES --- */

.smoke {
  position: absolute;
  inset: -40%;
  filter: blur(16px);
  animation: smokeDrift 20s ease-in-out infinite;
  mix-blend-mode: screen;
}

.smoke-dark-1 {
  background: radial-gradient(
    ellipse at center,
    rgba(108, 3, 61, 0.85),
    rgba(0, 0, 0, 0.6),
    transparent 70%
  );
  animation-duration: 55s;
  opacity: 0.6;
}

/* Secondary soft depth */
.smoke-dark-2 {
  background: radial-gradient(
    ellipse at center,
    rgba(30, 30, 30, 0.6),
    rgba(0, 0, 0, 0.5),
    transparent 75%
  );
  animation-duration: 55s;
  opacity: 0.6;
}
